[Unit]
Description=eOthello Bot
After=network.target
Wants=network.target

[Service]
Type=simple
User=axel
Group=axel
WorkingDirectory=/opt/othello-engine/eothello
ExecStart=/usr/bin/python3 /opt/othello-engine/eothello/play.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
